.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    z-index: 1000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logoLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.logoLink:hover {
    transform: scale(1.05);
}

.logoText {
    font-size: 3rem;
    color: white;
    font-weight: 600;
    margin-left: 0.5rem;
}

.leftSection,
.rightSection {
    flex: 1;
    display: flex;
    align-items: center;
}

.leftSection {
    justify-content: flex-start;
}

.centerSection {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightSection {
    justify-content: flex-end;
}

.challengeButton {
    appearance: button;
    background-color: rgb(57, 23, 18);
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 12px 5px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
}

.challengeButton:after {
    background-clip: padding-box;
    background-color: tomato;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.challengeButton,
.challengeButton:focus {
    user-select: auto;
}

.challengeButton:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.challengeButton:disabled {
    cursor: auto;
}

.challengeButton:active {
    border-width: 4px 0 0;
    background: none;
}

@keyframes pulse {
    0% {
        box-shadow: 0 4px 15px rgba(76, 175, 80, 0.2);
    }

    50% {
        box-shadow: 0 4px 25px rgba(76, 175, 80, 0.4);
    }

    100% {
        box-shadow: 0 4px 15px rgba(76, 175, 80, 0.2);
    }
}

@media (max-width: 768px) {
    .logoText {
        font-size: 2rem;
    }

    .navbar {
        padding: 0 1rem;
    }

    .challengeButton {
        padding: 0.6rem 1rem;
        font-size: 0.8rem;
        margin-left: 1rem;
    }

    .logoImage {
        width: 2.6rem;
    }
}

@media (max-width: 460px) {
    .logoText {
        font-size: 1.4rem;
    }

    .navbar {
        padding: 0 1rem;
    }

    .challengeButton {
        padding: 0.6rem 1rem;
        font-size: 0.6rem;
        margin-left: 0.5rem;
    }

    .logoImage {
        width: 1.6rem;
    }
}