.feedback {
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 2rem;
    color: black;
    margin-left: -12.5rem;
    width: 800px;
    font-weight: normal;
    background: #f8f5e3;
}

.feedbackTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.funFactTitle {
    color: #D94747;
}

.feedbackCorrect {
    border: 2px solid #28a745;
}

.feedbackIncorrect {
    border: 2px solid #dc3545;
}

.funFact {
    margin: 1.5rem 0;
    padding: 1rem;
    background-color: #f8f9fa;
    border-radius: 8px;
    font-size: 1.1rem;
    line-height: 1.5;
}

.nextButton {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0.8rem 2rem;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-weight: 600;
}

.nextButton:hover {
    background-color: #0056b3;
} 